<div class="container mt-5">
  <h1>New Restaurant</h1>
  <p>
    <%= simple_form_for @restaurant do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :phone_number %>
      <%= f.input :category, collection: Restaurant::CATEGORIES, include_blank: false %>
      <%= f.submit class: 'btn btn-primary mt-2' %>
    <% end %>
  </p>
  <%= link_to "Back to the list", :restaurants %>
</div>
